body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .Product {
  background-color: aqua;
}
.Price {
  color: blueviolet;
}
.Price:hover {
  cursor: pointer;
  color: azure;
} */
.UserCv {
  width: 40%;
  margin: 10px 10px;
  border: 5px dotted rgb(0, 0, 0);
  background-color: rgb(141, 141, 141);
}
.Personal-i,
.Exp,
.Contacts {
  color: rgb(251, 255, 196);
  padding: 0 0 0 50px;
}
